.block
  .secondary-navigation
    %ul.wat-cf
      %li.first=link_to pat(:list), url(:states, :index)
      %li.active=link_to pat(:new), url(:states, :new)
  .content
    %h2.title
      =pat(:new)
      =mt(:state)
    .inner
      -form_for :state, url(:states, :create), :class => :form do |f|
        =partial "states/form", :locals => { :f => f }

-content_for :sidebar, partial("base/sidebar")
